@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.left-item {
  margin-right: auto;
}

.curved-background {
  background-image: url("/bgimagefinal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.bg-for-img {
  background: rgb(215, 206, 208);
}

.price-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mid-section {
  background-image: url("/barbtwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.bg-whitee {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
}
